<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}
</head>
<body class="home-page">

	{% include "_partials/menu_mobile.html" %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			{% include "_partials/header.html" %}

			<!-- Content -->
			<div class="content clearfix">

				<!-- Back Top -->
				<div class="scroll-to-top">
					<a href="#" class="icon-oc-angle-up"></a>
				</div>
				<!-- Back Top End -->

				<!-- Fullscreen Slider Section -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					
					<!-- Scroll Down -->
					<div class="scroll-down">
						<a href="#location" class="scroll-link icon-oc-angle-down"></a>
					</div>
					<!-- Scroll Down End -->

					<div class="tm-slider-container full-width-slider" data-parallax data-animation="slide" data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom">
								<div class="tms-content">
									<div class="tms-content-inner center">
										<div class="row">
											<div class="column width-12">
												<div class="clear"></div>
												<h1 class="tms-caption title-xlarge color-white mt-20"
													data-animate-in="preset:scaleOut;duration:1000ms;delay:100ms;"
													data-no-scale>
													Yuka &amp; Andras
												</h1>
												<div class="clear"></div>
												<h3 class="tms-caption font-alt-1 color-white lspacing-small"
													data-animate-in="preset:slideInUpShort;duration:600ms;delay:400ms;"
													data-no-scale>
													Gold Coast, Australia
												</h3>
											</div>
										</div>
									</div>
								</div>
								<img data-src="/images/home-fs.jpg" data-retina src="/images/blank.png" srcset="/images/home-fs@2x.jpg 2x" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Fullscreen Slider Section End -->

				<section class="section-block center">
					<div class="row">
						<div class="column width-12">
							<p>We look forward to celebrating with you on</p>
							<h2 class="mb-60">October 12th, 2019</h2>
						</div>
					</div>
				</section>

				<!-- Location -->
				<!-- id must match <button>Location</button> in header.html -->
				<section id="location" class="section-block center">
					<div class="row">
						<div class="column width-12">
							<h2 class="mb-60">Location</h2>
						</div>
						<div class="column width-4 offset-2 horizon" data-animation="slide" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h4><a href="https://www.marriott.com/hotels/travel/oolgs-sheraton-grand-mirage-resort-gold-coast/" target="_blank">Sheraton Grand Mirage Resort</a></h4>
							<p>71 Seaworld Dr, <br />Main Beach QLD 4217<br />Gold Coast, Australia</p>

							<h5>4:00pm Ceremony<br />(To be seated by 3:45pm)</h5>
							<p>South East Lawns</p>
							<h5>Followed by Pre-Drinks &amp; Canapés</h5>
							<p>Pearls Bar</p>
							<h5>6:00pm Dinner &amp; Drinks</h5>
							<p>Horizons Reception Room</p>
						</div>
						<div class="column width-4" data-animation="slide" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
							<div style="width:100%;-webkit-filter: grayscale(100%);filter: grayscale(100%);"><iframe width="100%" height="380" src="https://maps.google.com/maps?width=100%&amp;height=380&amp;hl=en&amp;q=Sheraton%20Grand%20Mirage%20Resort+(Yuka%20%26%20Andras'%20Wedding)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
						</div>
					</div>
				</section>
				<!-- Location End -->

				<!-- Accomodation -->
				<div id="accomodation" class="section-block ugrid-filter-men">
					<div class="row no-padding">
						<div class="column width-12">
							<h2 class="mb-60 center">Accomodation</h2>
						</div>
					</div>
					<div class="row mb-20">
						<div class="column width-4 offset-2 pd-10">
							<h5><a href="https://www.marriott.com/hotels/travel/oolgs-sheraton-grand-mirage-resort-gold-coast/" target="_blank">Sheraton Grand Mirage Resort</a></h5>
							<p>Mention that you're attending our wedding to receive discount rates subject to availability</p>
						</div>
						<div class="column width-4  pd-10">
							<h5><a href="https://themeriton.com.au/" target="_blank">The Meriton on Main Beach Holiday Apartments</a></h5>
							<p>29 Woodroffe Ave, Main Beach QLD 4217</p>
						</div>
					</div>
					<div class="row mb-20">
						<div class="column width-4 offset-2">
							<h5><a href="https://seaworld.com.au/resort" target="_blank">Sea World Resort</a></h5>
							<p>Seaworld Dr, Main Beach QLD 4217</p>
						</div>
						<div class="column width-4">
							<h5><a href="https://www.oceansands.com.au/" target="_blank">Ocean Sands Resort</a></h5>
							<p>11-17 Hughes Ave, Main Beach QLD 4217</p>
						</div>
					</div>
					<div class="row">
						<div class="column width-4 offset-2">
							<h5><a href="http://waterfordonmain.com.au/" target="_blank">The Waterford on Main Beach</a></h5>
							<p>3482 Main Beach Parade, Main Beach QLD 4217</p>
						</div>
						<div class="column width-4">
							<h5><a href="https://www.palazzoversace.com.au/" target="_blank">Palazzo Versace Gold Coast</a></h5>
							<p>94 Seaworld Dr, Main Beach QLD 4217</p>
						</div>
					</div>
				</div>
				<!-- Accomodation End -->

				<!-- FAQ -->
				<section id="faq" class="section-block">
					<div class="row">
						<div class="column width-12">
							<h2 class="mb-60 center">FAQ</h2>
						</div>
						<div class="column width-8 offset-2 horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<div class="accordion">
								<ul>
									<li class="">
										<a href="#accordion-1-panel-1">What should I wear?</a>
										<div id="accordion-1-panel-1" class="" style="height: 0px;">
											<div class="accordion-content">
												<p>The dress code at our wedding is formal wear or black tie optional.</p>
											</div>
										</div>
									</li>
									<li class="">
										<a href="#accordion-1-panel-1">How should I get there?</a>
										<div id="accordion-1-panel-1" class="" style="height: 0px;">
											<div class="accordion-content">
												<h5>From Gold Coast</h5>
												<p>The closest airport to the wedding venue is Gold Coast Airport. It is about 40 - 50 mins drive from the airport to the venue depending on traffic. There are plenty of Ubers, and taxis that would be around the area.</p>
												<h5>From Brisbane</h5>
												<p>There are direct trains from Brisbane airport to Gold Coast. The other option is to drive down from Brisbane which is about an hour to an hour and a half from the city.</p>
											</div>
										</div>
									</li>
									<li class="">
										<a href="#accordion-1-panel-2">Where should I stay?</a>
										<div id="accordion-1-panel-2" style="height: 0px;" class="">
											<div class="accordion-content">
												<p>We will be staying at the Sheraton Grand Mirage Resort. Main Beach is the area we recommend our guests to stay as it's close to our wedding venue. There are a lot of holiday apartments, hotels, airbnb to suit all budgets. We have a few accomodations that are close by listed above which should be within 10 - 15 mins to the venue.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#accordion-1-panel-3">What's there to do in Gold Coast?</a>
										<div id="accordion-1-panel-3" style="height: 0px;">
											<div class="accordion-content">
												<p>There are lots of things to do in Gold Coast! Here are some of our suggestions!</p>
												<h5>Beaches</h5>
												<p>You can go kayaking, snorkelling, parasailing, or just enjoy the sunshine - fingers crossed!</p>
												<p>
													&#149;&nbsp;&nbsp;<a class="links" href="https://goo.gl/maps/AGFEcncH2222" target="_blank">Surfers Paradise</a> - A Must! They also have a beachfront night market on every Wednesday, Friday and Sunday nights from 4pm to 9pm.<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://goo.gl/maps/1Logjq3jPZE2" target="_blank">Broadbeach</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://goo.gl/maps/r6qAboMipyG2" target="_blank">Burleigh Heads</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://goo.gl/maps/hctyxMXzQXF2" target="_blank">Palm Beach</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://goo.gl/maps/PBnCohvcPew" target="_blank">Currumbin</a>
												</p>
												
												<h5>Eat</h5>
												<p>
													&#149;&nbsp;&nbsp;<a class="links" href="http://www.bumblescafe.com/" target="_blank">Bumbles Cafe</a> - Our favourite cafe in Gold Coast!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.marriott.com/hotel-restaurants/oolsp-surfers-paradise-marriott-resort-and-spa/citrique/57220/home-page.mi" target="_blank">Surfers Paradise Marriott Resort & Spa</a> - If you like a seafood, they have an awesome seafood buffet!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://sanctuarycove.com/dining-gold-coast/" target="_blank">Sanctuary Cove</a> - We absolutely love this place, we definitely recommend you to go there whether it's for coffee, lunch, dinner or drinks! They have a beautiful marina!<br /> 
													&#149;&nbsp;&nbsp;<a class="links" href="http://www.thecollectivepalmbeach.com.au/" target="_blank">The Collective Palm Beach</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.instagram.com/burleighpavilion/" target="_blank">Burleigh Pavilion</a> - Enjoy some cocktails in the sun!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.balter.com.au/" target="_blank">Balter Brewing</a> - Gold Coast beer! They also have food trucks there and a cool surfers vibe! Only open Friday to Sunday.<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://burleighbrewing.com.au/" target="_blank">Burleigh Brewing Co</a> - For more local craft beer lovers!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.fridasol.com.au/" target="_blank">Frida Sol</a> - Modern Mexican<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.okeydokeytimeforpoke.com/" target="_blank">Poké Poké</a> - If you love Poké bowls!!
												</p>

												<h5>Activities</h5>
												<p>
													&#149;&nbsp;&nbsp;<a class="links" href="https://movieworld.com.au/" target="_blank">Warner Bros. Movie World</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://seaworld.com.au/" target="_blank">Sea World</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.dreamworld.com.au/" target="_blank">Dreamworld</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.rainforestskywalk.com.au/" target="_blank">Tamborine Rainforest Skywalk</a> - If you aren't afraid of heights!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://oreillys.com.au/walking-tracks-at-lamington-national-park/" target="_blank">O'Reilly's Tree Top Walk</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://parks.des.qld.gov.au/parks/tamborine/" target="_blank">Tamborine National Park</a> - If you like to do some bush walking and swim in the water holes!<br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.skypoint.com.au/" target="_blank">SkyPoint Observation Deck</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.aquaduck.com.au/" target="_blank">Aquaduck Tours</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.puttputtgolf.com.au/" target="_blank">Putt Putt Mermaid Beach</a><br />
													&#149;&nbsp;&nbsp;Shop at <a class="links" href="https://www.pacificfair.com.au/" target="_blank">Pacific Fair Shopping Centre</a><br />
													&#149;&nbsp;&nbsp;and more shopping at <a class="links" href="https://harbourtowngoldcoast.com.au/" target="_blank">Harbour Town Outlet Shopping Centre</a>
												</p>

												<h5>Golf Lovers</h5>
												<p>
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.racv.com.au/travel-leisure/racv-resorts/our-destinations/royal-pines-gold-coast-resort/golf.html" target="_blank">RACV Royal Pines Resort</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.linkshopeisland.com.au/cms/" target="_blank">Links Hope Island Golf Club</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.lakelandsgolfclub.com.au/golf" target="_blank">Lakelands Golf Club</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://emeraldlakesgolf.com.au/golf/" target="_blank">Emerald Lakes Golf Club</a><br />
													&#149;&nbsp;&nbsp;<a class="links" href="https://www.glades.com.au/golf/index.html" target="_blank">The Glades Golf Club</a>
												</p>

												<p>Let us know how we can help organise your trip!</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- FAQ End -->

				<!-- RSVP -->
				<section id="rsvp" class="section-block replicable-content contact-2">
					<div class="row">

						<div   class="column width-8 offset-2 center">
							<h2 class="mb-60">RSVP</h2>
							<div id="mc_embed_signup" class="contact-form-container">
								<form action="https://amazonaws.us9.list-manage.com/subscribe/post?u=a3c1a0376d4c700ad6d99fe85&amp;id=a0cc1468b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
									<div class="row mb-30">
										<div class="column width-4">
											<input type="text" name="EMAIL" id="mce-EMAIL" class="form-fname form-element large" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Invalid email" tabindex="1" >
										</div>
										<div class="column width-4">
											<input type="text" name="FNAME" id="mce-FNAME" class="form-fname form-element large" placeholder="First name" pattern="[\p{L}_-]{1,80}" title="Letters only" tabindex="2" required>
										</div>
										<div class="column width-4">
											<input type="text" name="LNAME" id="mce-LNAME" class="form-lname form-element large" placeholder="Last name" pattern="[\p{L}_-]{1,80}" title="Letters only" tabindex="3" required>
										</div>
										<div class="column center">
											<div class="row">
												<input type="radio" id="mce-RSVP-0" name="RSVP" value="Accept" placeholder="Accept with pleasure" required>
												<label class="radio label" for="accept">Helyes! Accept with pleasure</label>
												<input type="radio" id="mce-RSVP-1" name="RSVP" value="Decline" placeholder="Decline with regrets" required>
												<label class="radio label" for="decline">Decline with regrets</label>
											</div>
										</div>
										<div class="column width-12">
											<input type="text" name="honeypot" class="form-honeypot form-element large">
										</div>
									</div>
									<div class="row">
										<div class="column width-12 mb-40">
											<h5 class="no-padding">Dietary requirements</h5>
											<input class="checkbox input" title="Gluten free" type="checkbox" value="1" name="group[30653][1]" id="mce-group[30653]-30653-0">
											<label class="checkbox label" for="mce-group[30653]-30653-0">Gluten free</label>
											
											<input class="checkbox input" title="Lactose intolerant" type="checkbox" value="2" name="group[30653][2]" id="mce-group[30653]-30653-1">
											<label class="checkbox label" for="mce-group[30653]-30653-1">Lactose intolerant</label>
											
											<input class="checkbox input" title="Pescatarian" type="checkbox" value="4" name="group[30653][4]" id="mce-group[30653]-30653-2">
											<label class="checkbox label" for="mce-group[30653]-30653-2">Pescatarian</label>
											
											<input class="checkbox input" title="Vegan" type="checkbox" value="8" name="group[30653][8]" id="mce-group[30653]-30653-3" >
											<label class="checkbox label" for="mce-group[30653]-30653-3">Vegan</label>
											
											<input class="checkbox input" title="Vegetarian" type="checkbox" value="16" name="group[30653][16]" id="mce-group[30653]-30653-4">
											<label class="checkbox label" for="mce-group[30653]-30653-4">Vegetarian</label><br />
											
											<input class="checkbox input" title="Other" type="checkbox" value="32" name="group[30653][32]" id="mce-group[30653]-30653-5">
											<label class="checkbox label" for="mce-group[30653]-30653-5">Other (please specify below)</label>
										</div>
									
										<div class="column width-12 center">
											<textarea name="OTDIET" id="mce-OTDIET" class="form-message form-element medium" placeholder="Other dietary requirements or comments" tabindex="5"></textarea>
											<textarea name="COMMENT" id="mce-COMMENT" class="form-message form-element medium" placeholder="Send us some song requests!" tabindex="5"></textarea>

											<!-- <div id="mce-responses" class="clea1r">
													<div class="response" id="mce-error-response" style="display:none"></div>
													<div class="response" id="mce-success-response" style="display:none"></div>
												</div>  -->
											<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3c1a0376d4c700ad6d99fe85_a0cc1468b2" tabindex="-1" value=""></div>
											<input type="submit" value="Send RSVP" name="subscribe" class="form-submit button medium bkg-black bkg-hover-pink color-white color-hover-white">
										</div>
									</div> 
								</form>
								<div class="form-response center"></div>
							</div>
						</div>
					</div>
				</section>
				<!-- RSVP End -->

			</div>
			<!-- Content End -->
			
			{% include "_partials/footer.html" %}

		</div>
	</div>

	{% include "_partials/js.html" %}
	{% include "_partials/ga.html" %}
</body>
</html>
