<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}	
</head>

<body class="nanairo">

	{% include "_partials/menu_mobile.html" %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			{% include "_partials/header.html" %}
			
			<!-- Content -->
			<div class="content clearfix">

				<!-- Fullscreen Slider Section -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					
					<!-- Scroll Down -->
					<div class="scroll-down">
						<a href="#brief" class="scroll-link icon-angle-down"></a>
					</div>
					<!-- Scroll Down End -->

					<div class="tm-slider-container full-width-slider" data-parallax data-animation="slide" data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-animation="slideTopBottom">
								<img data-src="/images/home-fs.jpg" data-retina src="/images/blank.png" srcset="/images/home-fs@2x.jpg 2x" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Fullscreen Slider Section End -->

				<!-- Photos -->
				<div class="section-block bkg-grey-ultralight">
					<div class="row">

					</div>
				</div>
				<!-- Website & Photography End -->

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>
	
	{% include "_partials/js.html" %}
	{% include "_partials/ga.html" %}

</body>
</html>