.header .navigation > ul > li > button{
    margin: 0 1.5rem;
    padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.header .navigation > ul > li > button:hover{
	color: #000;
	opacity: 1;
}

.header .header-inner .navigation > ul > li > button{
	height: 8rem;
	line-height: 8rem;
}

.header-compact .header-inner .navigation > ul > li > button {
	height: 6rem;
	line-height: 6rem;
}

.header-animated .header-inner .navigation >  ul > li > button {
    transition-property: height, background, border, padding, margin, font-size, color, line-height, opacity;
    transition-duration: 500ms;
}

.header-transparent .navigation > ul > li > button {
    color: #fff;
    opacity: 0.6;
}

.header-background .navigation > ul > li > button {
    color: #555;
}


.header-transparent .navigation > ul > li > button:hover {
    color: #fff;
    opacity: 1;
}

.header-background .navigation > ul > li > button:hover {
    color: #000;
    opacity: 1;
}
